<template>
  <div class="rounded-md p-3 text-center">
    <h1 class="text-5xl text-gray-800">{{ title }}</h1>
    <div class="flex flex-col space-y-10">
      <div class="w-full text-center text-lg">
        <header class="my-4">
          <h1 class="text-2xl">Turnos no asignados</h1>
        </header>
        <table class="table-auto rounded border-2">
          <thead>
            <th></th>
            <th v-for="(dates, i) in turnsDates" :key="i" class="text-xs">
              {{ dates }}
            </th>
          </thead>
          <tbody>
            <tr
              v-for="(turnArray, id) in unassignedTurns"
              :key="id"
              :class="[id%2===0 ? 'bg-blue-300' : 'bg-blue-400', 'text-xs']"
            >
              <td v-if="id === 0" rowspan="0">Turnos No Asignados</td>
              <td v-for="(turn, i) in turnArray" :key="i">
                <p>{{ turn.turnName }}</p>
                <p>
                  {{
                    turn.turnCheckIn &&
                    '(' + turn.turnCheckIn + ' - ' + turn.turnCheckOut + ')'
                  }}
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="w-full text-center text-xs">
        <header class="my-4">
          <h1 class="text-2xl">Turnos Asignados</h1>
        </header>
        <table class="text-xs rounded border-2">
          <thead>
            <th>Turnos asignados</th>
            <th v-for="(dates, i) in turnsDates" :key="i">
              {{ dates }}
            </th>
          </thead>
          <tbody>
            <tr v-for="(user, id) in assignedTurns" :key="id" :class="[id%2===0 ? 'bg-blue-300' : 'bg-blue-400']">
              <td>{{ user.name }}</td>
              <td v-for="(date, i) in turnsDates" :key="i">
                <template v-if="user.turns.filter((turn) => turn.date === date)[0] && user.turns.filter((turn) => turn.date === date)[0].turnTemplateId !== null">
                <p> 
                  {{
                    turnTemplatesList.filter((turnTemplate) => turnTemplate.id === user.turns.filter((turn) => turn.date === date)[0].turnTemplateId)[0].name
                  }}
                </p>
                <p>
                  {{
                    '(' +
                    turnTemplatesList.filter((turnTemplate) => turnTemplate.id === user.turns.filter((turn) => turn.date === date)[0].turnTemplateId)[0].checkIn +
                    ' - ' +
                    turnTemplatesList.filter((turnTemplate) => turnTemplate.id === user.turns.filter((turn) => turn.date === date)[0].turnTemplateId)[0].checkOut +
                    ')'
                  }}
                </p>
                </template>
                <template v-else-if="user.turns.filter((turn) => turn.date === date)[0] && user.turns.filter((turn) => turn.date === date)[0].turnTemplateId === null">
                <p> 
                  Vacaciones
                </p>
                </template>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';

function findIndex(array, attr, value) {
  for (let i = 0; i < array.length; i += 1) {
    if (array[i][attr] === value) {
      return i;
    }
  }
  return -1;
}

export default {
  name: 'Calendar',
  data() {
    return {
      title: 'Turnos',
      unassignedTurns: null,
      assignedTurns: null,
    };
  },
  methods: {
    ...mapActions(['fetchTurns', 'fetchTurnTemplates', 'fetchUsers']),
    getUnassignedTurns() {
      const unassignedTurns = [];
      const data = this.turnsList.filter(
        (item) => item.userId.length < item.maxSlots
      );
      let subArray = [];
      while (data.length !== 0) {
        subArray = [];
        this.turnsDates.forEach((date) => {
          const index = findIndex(data, 'date', date);
          if (index > -1) {
            const turnTemplate =
              data[index].turnTemplateId == null
                ? [{ name: 'Vacaciones', checkIn: '', checkOut: '' }]
                : this.turnTemplatesList.filter(
                    (item) => item.id === data[index].turnTemplateId
                  );
            subArray.push({
              turnName: turnTemplate[0].name,
              turnCheckIn: turnTemplate[0].checkIn,
              turnCheckOut: turnTemplate[0].checkOut,
            });
            data.splice(index, 1);
          } else {
            subArray.push({
              turnName: '',
              turnCheckIn: '',
              turnCheckOut: '',
            });
          }
        });
        unassignedTurns.push(subArray);
      }
      return unassignedTurns;
    },
    getAssignedTurns() {
      const assignedTurns = this.userList.map((user) => {
        return {
          name: user.firstName + ' ' + user.lastName,
          id: user.id,
          turns: [],
        };
      });
      const turns = this.turnsList.filter((turn) => turn.userId.length > 0);
      turns.forEach((turn) => {
        turn.userId.forEach((userId) => {
          const index = findIndex(assignedTurns, 'id', userId);
          assignedTurns[index] = {
            ...assignedTurns[index],
            turns: [...assignedTurns[index].turns, turn],
          };
        });
      });
      assignedTurns.sort(function(a, b){
        if(a.name < b.name) { return -1; }
        if(a.name > b.name) { return 1; }
        return 0;
      })
      return assignedTurns;
    },
  },
  computed: {
    ...mapState(['turnsList', 'turnsDates', 'turnTemplatesList', 'userList']),
  },
  async created() {
    await this.fetchTurns();
    await this.fetchTurnTemplates();
    await this.fetchUsers();
    this.unassignedTurns = this.getUnassignedTurns();
    this.assignedTurns = this.getAssignedTurns();
  },
};
</script>
