<template>
  <div class="text-center">
    <h1 class="text-2xl text-purple-600">{{ title }}</h1>
    <table class="mx-auto mt-4 rounded border-2">
      <thead>
        <th>Nombre de Sucursal</th>
        <th>Horario</th>
        <th>Dirección Completa</th>
        <th>N° de Usuarios</th>
      </thead>
      <tbody>
        <tr v-for="(location, index) in locationsList" :key="index" :class="[index%2===0 ? 'bg-blue-300' : 'bg-blue-400']">
          <td>{{ location.name }}</td>
          <td>{{ `${location.startTime} - ${location.endTime}` }}</td>
          <td class="px-4">
            {{
              `
                ${location.address1}${
                location.address2 ? ', ' + location.address2 : ''
              }
              `
            }}
          </td>
          <td>{{ getLocationNumOfUsers(location) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
export default {
  name: 'Locations',
  data() {
    return {
      title: 'Sucursales',
    };
  },
  computed: {
    ...mapState(['locationsList', 'userList']),
  },
  methods: {
    ...mapActions(['fetchLocations', 'fetchUsers']),
    getLocationNumOfUsers (location) {
      return this.userList.filter((item) => item.locationId[0] === location.id)
        .length;
    },
  },
  async created() {
    await this.fetchLocations();
    await this.fetchUsers();
  },
};
</script>
