<template>
  <div class="text-center">
    <h1 class="text-2xl text-green-500">{{ title }}</h1>
    <table class="mx-auto mt-4 rounded border-2">
      <thead>
        <th class="px-2">Nombre</th>
        <th class="px-2">Hora de entrada</th>
        <th class="px-2">Hora de salida</th>
        <th class="px-2">Descanso</th>
        <th class="px-2">Horas trabajadas</th>
        <th class="px-2">Cargo asociado</th>
        <th class="px-2">Sucursales asociadas</th>
      </thead>
      <tbody>
        <tr v-for="(turnTemplate, index) in turnTemplatesList" :key="index" :class="[index%2===0 ? 'bg-blue-300' : 'bg-blue-400']">
          <td>{{ turnTemplate.name }}</td>
          <td>{{ turnTemplate.checkIn }}</td>
          <td>{{ turnTemplate.checkOut }}</td>
          <td>{{ turnTemplate.breakTime + ' min' }}</td>
          <td>{{ getWorkedHours(turnTemplate) }}</td>
          <td>{{ getPositionById()(turnTemplate) }}</td>
          <td>{{ getLocations()(turnTemplate) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex';

export default {
  name: 'TurnTemplates',
  data() {
    return {
      title: 'Plantillas',
    };
  },
  computed: {
    ...mapState(['turnTemplatesList', 'locationsList']),
  },
  methods: {
    ...mapActions(['fetchTurnTemplates', 'fetchPositions', 'fetchLocations']),
    ...mapGetters(['getPositionById', 'getLocations']),
    getWorkedHours(turnTemplate) {
      const outHours = parseInt(turnTemplate.checkOut.replace(':00', ''), 10);
      const inHours = parseInt(turnTemplate.checkIn.replace(':00', ''), 10);
      const result = outHours - inHours - 1;
      if (turnTemplate.breakTime === 30) {
        return '0' + result + ':30h';
      } else {
        return '0' + result + ':00h';
      }
    },
  },
  async created() {
    this.fetchTurnTemplates();
    this.fetchPositions();
    this.fetchLocations();
  },
};
</script>
