<template>
  <div>
    <div class="text-right text-white mb-5">
      <button @click="addUser()" class="bg-green-600 mx-2 p-3 rounded hover:bg-green-800">Agregar Usuario</button>
      <button @click="updateUser()" class="bg-blue-600 mx-2 p-3 rounded hover:bg-blue-800">Actualizar Usuario</button>
      <button @click="deleteUser()" class="bg-red-600 mx-2 p-3 rounded hover:bg-red-800">Eliminar Usuario</button>
    </div>
    <div v-show="showAddUser">
      <AddUserForm />
    </div>
    <div v-show="showDeleteUser">
      <DeleteUserForm />
    </div>
    <div v-show="showUpdateUser">
      <UpdateUsers />
    </div>
    <h1 class="text-2xl text-red-400 text-center">{{ title }}</h1>
    <table class="table-auto mx-auto mt-4 text-center rounded border-2">
      <thead class="mx-4">
        <th class="px-4">Numero ID</th>
        <th class="px-4">Nombre Completo</th>
        <th class="px-4">Cargos</th>
        <th class="px-4">Sucursales</th>
        <th class="px-4">Horas por semana</th>
      </thead>
      <tbody>
        <tr v-for="(user, index) in userList" :key="index" :class="[index%2===0 ? 'bg-blue-300' : 'bg-blue-400']">
          <td>{{ user.employeeId }}</td>
          <td>{{ user.firstName + ' ' + user.lastName }}</td>
          <td>
            {{
              user.positionId
                .map((id) => {
                  let position = '';
                  positionsList.forEach((item) => {
                    if (item.id === id) {
                      position = item.name;
                    }
                  });
                  return position;
                })
                .join(', ')
            }}
          </td>
          <td>
            {{
              user.locationId
                .map((id) => {
                  let location = '';
                  locationsList.forEach((item) => {
                    if (item.id === id) {
                      location = item.name;
                    }
                  });
                  return location;
                })
                .join(', ')
            }}
          </td>
          <td>{{ contractsList[user.contract - 1].legalMaxWeeklyHours }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import AddUserForm from '../components/AddUserForm';
import DeleteUserForm from '../components/DeleteUserForm';
import UpdateUsers from '../components/UpdateUsers';

export default {
  name: 'Users',
  data() {
    return {
      title: 'Vista de Usuarios',
      showAddUser: false,
      showDeleteUser: false,
      showUpdateUser: false,
    };
  },
  components: {
    AddUserForm,
    DeleteUserForm,
    UpdateUsers,
  },
  computed: {
    ...mapState([
      'userList',
      'locationsList',
      'positionsList',
      'contractsList',
    ]),
  },
  methods: {
    ...mapActions([
      'fetchUsers',
      'fetchLocations',
      'fetchPositions',
      'fetchContract',
    ]),
    addUser() {
      this.showAddUser = !this.showAddUser;
      this.showDeleteUser = false;
      this.showUpdateUser = false;
    },
    deleteUser() {
      this.showDeleteUser = !this.showDeleteUser;
      this.showAddUser = false;
      this.showUpdateUser = false;
    },
    updateUser() {
      this.showUpdateUser = !this.showUpdateUser;
      this.showAddUser = false;
      this.showDeleteUser = false;
    },
  },
  async created() {
    this.fetchUsers();
    this.fetchLocations();
    this.fetchPositions();
    this.fetchContract();
  },
};
</script>
