<template>
    <form class="w-full max-w-lg mx-auto">
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-firstname">
                Nombre
            </label>
            <input v-model="firstName" class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-firstname" type="text" placeholder="Andres">
            </div>
            <div class="w-full md:w-1/2 px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-lastname">
                Apellido
            </label>
            <input v-model="lastName" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-lastname" type="text" placeholder="Fuentes">
            </div>
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="phone">
                Telefono
            </label>
            <input v-model="phone" class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="phone" type="tel" placeholder="+1-202-555-0143">
            </div>
            <div class="w-full md:w-1/2 px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="email">
                E-mail
            </label>
            <input v-model="email" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="email" type="email" placeholder="aefuen1@gmail.com">
            </div>
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="birthDate">
                Fecha de nacimiento
            </label>
            <input v-model="dateOfBirth" class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="birthDate" type="date">
            </div>
            <div class="w-full md:w-1/2 px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="id">
                ID del usuario
            </label>
            <input v-model="employeeId" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="id" type="text" placeholder="17.128.706-Q">
            </div>
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <p class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                Sucursales donde trabaja
            </p>
                <div class="px-2 py-3">
                    <input type="checkbox" id="nunoa" value="1" v-model="locationId">
                    <label for="nunoa"> Ñuñoa</label><br>
                    <input type="checkbox" id="providencia" value="2" v-model="locationId">
                    <label for="providencia"> Providencia</label><br>
                    <input type="checkbox" id="santiago" value="3" v-model="locationId">
                    <label for="santiago"> Santiago</label>
                </div>
            </div>
            <div class="w-full md:w-1/2 px-3">
            <p class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                Cargos
            </p>
            <div class="px-2 py-3">
                <input type="checkbox" id="copero" value="1" v-model="positionId">
                <label for="copero"> Copero/a</label><br>
                <input type="checkbox" id="recepcionista" value="2" v-model="positionId">
                <label for="recepcionista"> Recepcionista</label><br>
                <input type="checkbox" id="chef" value="3" v-model="positionId">
                <label for="chef"> Chef</label><br>
                <input type="checkbox" id="garzon" value="4" v-model="positionId">
                <label for="garzon"> Garzón/a</label><br>
                <input type="checkbox" id="barista" value="6" v-model="positionId">
                <label for="barista"> Barista</label><br>
                <input type="checkbox" id="supervisor" value="7" v-model="positionId">
                <label for="supervisor"> Supervisor/a</label><br>
                <input type="checkbox" id="aseo" value="8" v-model="positionId">
                <label for="aseo"> Aseo</label>
            </div>
            </div>
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <p class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                Es asociado?
            </p>
            <div class="px-2 py-3">
                <input type="radio" id="si" value="true" v-model="isAssociated">
                <label for="si"> Si</label>
                <br>
                <input type="radio" id="no" value="false" v-model="isAssociated">
                <label for="no"> No</label>
                <br>
            </div>
            </div>
            <div class="w-full md:w-1/2 px-3">
            <p class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" >
                Contrato
            </p>
            <div class="relative">
                <select v-model="contract" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="contract">
                <option value="" disabled selected>Seleccione</option>
                <option>Jornada Parcial</option>
                <option>Jornada Laboral Ordinaria</option>
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                </div>
            </div>
            </div>
            <div class="w-full px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="hireDate">
                Fecha de contratación
            </label>
            <input v-model="hireDate" class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="hireDate" type="date">
            </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="url">
                URL de la imagen
            </label>
            <input v-model="img" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="url" type="text" placeholder="https://randomuser.me/api/portraits/men/80.jpg">
            </div>
        </div>
        <div class="w-full text-center">
            <button @click="click" type="button" class="w-full mx-auto mb-4 bg-green-600 text-white rounded py-2 hover:bg-green-400">Guardar Usuarios</button>
        </div>
    </form>
</template>
<script>
import { mapActions } from 'vuex';
export default {
    name:'AddUserForm',
    data() {
        return {
            firstName: '',
            lastName: '',
            phone: '',
            email: '',
            dateOfBirth: '',
            employeeId: '',
            hireDate: '',
            contract: '',
            isAssociated: 'false',
            locationId: [],
            positionId: [],
            img: '',
        };
    },
    methods: {
        ...mapActions(['addUser']),
        async click (e) {
            e.preventDefault;
            const newUser = {
                firstName: this.firstName,
                lastName: this.lastName,
                phone: this.phone,
                email: this.email,
                dateOfBirth: this.dateOfBirth,
                employeeId: this.employeeId,
                hireDate: this.hireDate,
                contract: this.contract === 'Jornada Parcial'? 2 : 1,
                isAssociated: this.isAssociated === 'true' ? true : false,
                locationId: this.locationId.map(item => parseInt(item)),
                positionId: this.positionId.map(item => parseInt(item)),
                img: this.img
            };
            await this.addUser(newUser);
        }
    },
}
</script>