<template>
    <form class="w-full max-w-lg mx-auto">
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
                ID del usuario a Eliminar
            </label>
            <input v-model="id" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-password" type="text" placeholder="17.128.706-Q">
            </div>
        </div>
        <div class="w-full text-center">
            <button @click='clickDelete' type="button" class="w-full mx-auto mb-4 bg-red-600 text-white rounded py-2 hover:bg-red-400">Eliminar Usuario</button>
        </div>
    </form>
</template>
<script>
import { mapActions } from 'vuex';

export default {
    name: 'DeleteUserForm',
    data() {
        return {
            id:'',
        };
    },
    methods: {
        ...mapActions(['deleteUser']),
        clickDelete(){
            this.deleteUser(this.id);
        },
    },
}
</script>