<template>
  <div
    id="nav"
    class="sticky flex items-center p-3 space-x-3 bg-blue-500 w-full h-14"
  >
    <router-link to="/">Home</router-link>
    <router-link to="/calendario">Calendar</router-link>
    <router-link to="/users">Users</router-link>
    <router-link to="/locations">Locations</router-link>
    <router-link to="/turntemplates">TurnTemplates</router-link>
  </div>
</template>

<script>
export default {};
</script>
